/* Geral */

.background {
    -fx-background-color: #D5C5B7 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.titulo {
    -fx-font-weight: bold;
    -fx-font-size: 45px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #fd0000;
}

/* Tela Principal */
.menu-bar {
    -fx-background-color: #FFA500;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #fd0000;
}

.menu-item {
    -fx-background-color: #FFA500;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #fd0000;
}

.menu-item:hover {
    -fx-background-color: #FFD700;
}

#user_label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #fd0000;
}

.btn_tela_principal {
    -fx-background-color: #FFA500;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #fd0000;
    -fx-border-color: #fd0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 55px;
}

.btn_tela_principal:hover {
    -fx-background-color: #FFD700;
}

.btn_tela_principal:pressed {
    -fx-background-color: #a88f00;
}

#btn_cad_produto{
    -fx-background-image: url("../images/add-produto.png");
}

#btn_cad_cliente{
    -fx-background-image: url("../images/add-user.png");
}

#btn_search_cliente{
    -fx-background-image: url("../images/search-user.png");
}

#btn_cad_pedido{
    -fx-background-image: url("../images/add-pedido.png");
}

#btn_search_pedido{
    -fx-background-image: url("../images/search-pedido.png");
}

#btn_sair{
    -fx-background-image: url("../images/sair.png");
}

.lbl_btn_principal {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #fd0000;
}

.contador_vendidas {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #fd0000;
}

/* Tela Cadastro de Pedido */

.campo {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: rgba(155, 155, 155, 0.568);
    -fx-border-color: rgba(0, 0, 0, 0.37);
    -fx-padding: 5px;
    -fx-border-radius: 5px 5px 0px 0px;
}

